
body {
    background-size: cover;      /* se ajusta al tamaño de pantalla */
        background-repeat: no-repeat;
        background-attachment: fixed; /* para que se quede fijo al hacer scroll */
        background-position: center; /* cen
}
