<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Preguntas</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='estilos.css')}}">
</head>
<body>

    <div class="container mt-5 text-center">
        <h2 class="mb-4">Informacion</h2>

        <div class="alert alert-success">
            <p><strong>ADVERTENCIA!</strong></p>
            <p><strong>Su informacion no sera almacenada ni sera vendida a sitios externos.</strong></p>
            <p><strong>--------------------------------------------------------------------</strong></p>
            <p><strong>Si su equipo electronico presenta fallas</strong></p>
            <p><strong>No es nuestra culpa, nosotros nos ocupamos de que </strong></p>
            <p><strong>nuestros servicios sean seguros. </strong></p>
            <p><strong>--------------------------------------------------------------------</strong></p>
            <p><strong>Si necesita ayuda con nuestro servicio, contactenos.</strong></p>
            <p><strong>correo: HenUnity24@gmail.com</strong></p>
            <p><strong>Horario de ayuda disponible: 4PM-6PM de Sabado a Domingo.</strong></p>
        </div>
       
    
        <form action="/" method="get">
            <button type="submit" class="btn btn-primary mt-3">Volver al inicio</button>
        </form>
    </div>
    

</body>
</html>
