<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Preguntas</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='estilos.css')}}">
</head>
<body>

    <div class="container mt-5 text-center">
        <h2 class="mb-4">Informacion</h2>

        <div class="alert alert-success">
            <p><strong>sobre los terminos y condiciones:</strong></p>
            <p><strong>Estos terminos son regidos de acuerdo con:</strong></p>
            <p><strong>*Las leyes de tu pais</strong></p>
            <p><strong>*Proteccion logica de informacion del usuario</strong></p>
            <p><strong>---------------------------------------------</strong></p>
            <p><strong>ADVERTENCIA!</strong></p>
            <p><strong>Nuestros servicios son completamente seguros</strong></p>
            <p><strong>por lo que no somos responsables de algun malware.</strong></p>
            <p><strong>---------------------------------------------</strong></p>
            <p><strong>Politicas de Privacidad:</strong></p>
            <p><strong>No puede hacer cosas incorrectas o para lo que</strong></p>
            <p><strong>no esta desarrollada la plataforma.</strong></p>
            <p><strong>No se venderan sus datos a NINGUN sitio externo.</strong></p>
        </div>
       
    
        <form action="/" method="get">
            <button type="submit" class="btn btn-primary mt-3">Volver al inicio</button>
        </form>
    </div>
    

</body>
</html>
